# Web framework (if Flask app is present)
flask==2.3.3
flask-cors==4.0.0

# Environment variable loader
python-dotenv==1.0.1

# RSS feeds and article scraping
feedparser==6.0.11
newspaper3k==0.2.8
requests==2.31.0
tqdm==4.66.4
beautifulsoup4==4.12.3

# HuggingFace Transformers (text summarization, etc.)
transformers
torch
#sentencepiece
#accelerate

# Instagram automation
instagrapi

gunicorn


# Audio and numpy processing
soundfile
numpy

# Optional but useful
pandas
numpy
ujson
